.box {
  background-color: black;
  color: black;
  width: 12em;
  height: 12em;
  border-radius: 10px;
  text-decoration: none;

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10em;
    color: white;
  }
  &__img {
    margin: 0 auto;
    width: 10em;
    border-radius: 10px;
  }
}
