.box {
  background-color: black;
  color: black;
  width: 12em;
  height: 12em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10em;
    color: white;
    display: flex;
    margin-left: 1em;
  }

  &__img {
    margin: 0 auto;
    max-width: 10em;
    border-radius: 10px;
    max-height: 8em;
  }
}
