.storeArea {
  background-color: #202124;
  height: calc(100vh - 80px);
  color: #ffffff;
  justify-content: space-between;
  padding: 3em 5em;
  .pagination {
    display: flex;
    justify-content: center;
    margin: 7px 2px;
  }
}
